/**
 * Reset some basic elements
 */
 body {
   font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
   color: $dark !important;
   -webkit-text-size-adjust: 100%;
   -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
        -o-font-feature-settings: "kern" 1;
           font-feature-settings: "kern" 1;
   font-kerning: normal;
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }


h3, h4, h5, h6, p {
  font-family: $base-font-family;
  color: $dark !important;
}

h1, h2 {
  font-family: $title-font-family;
  text-transform: uppercase;
  color: $dark !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2{
  font-size: 2.4rem !important;
}

h3, h4 {
  font-weight: 400;
}

a,
.uk-navbar-item,
.uk-navbar-toggle,
.uk-navbar-nav > li > a {
  font-family: $base-font-family;
  text-transform: none;
  color: $white;
  font-weight: bold;
}

a.a-green{
  color: $green-1;
  text-decoration: underline;
  letter-spacing: 0.15rem;
  font-size: 0.7rem;
  font-weight: 800;
}

a.a-green:hover,
a.a-green:focus{
  color: $blue;
}


.title-image-card{
  margin-bottom: -160px;
  position: relative;
  z-index: 10;
  padding: 20px 20px 0 20px;
}

.image-card{
  border-radius: 6px;
}

.uk-label{
  border-radius: 0;
  font-size: 0.5rem;
  padding: 0.4rem;
}

.uk-slider-container {
    height: 25rem;
}

.uk-card-title{
  font-size: 1.2rem;
}

.uk-card{
  border-radius: 6px;
}

.uk-card-small .uk-card-body, .uk-card-small.uk-card-body {
	min-height: 24rem;
}

.uk-label{
  font-weight: 400;
  letter-spacing: 0.06rem;
  font-family: $title-font-family;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-header-row {
  border-bottom: 2px solid $dark;
  .table-header-data {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
    color: $dark;
  }
}

.uk-table td {
    padding: 30px 12px;
}

.uk-section{
  padding-top: 110px;
  padding-bottom: 110px;
}

.font-impact{
  font-family: $title-font-family;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-uppercase{
  text-transform: uppercase;
}

.font-medium{
  font-size: 1.1rem !important;
  line-height: 1.9rem !important;
}

.font-large{
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}

footer{
  margin-top: 100px;
  padding: 30px 0 30px;
}

/**
 * Navbar
 */
.event-banner{
  position: relative;
  z-index: 400;
}

header.uk-sticky {
    background: transparent;
    margin-bottom: -120px;
    position: relative;
    z-index: 200;
}

.uk-navbar-nav {
	position: relative;
	top: -4px;
}

.uk-navbar-dropdown-nav>li>a {
 color: $black;
 font-size: 0.7rem;
 &:hover{
   color: $green-1;
 }
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle{
  min-height: 50px;
}

.uk-navbar-container>.uk-container .uk-navbar-left {
  margin-left: 0;
}

.uk-navbar-container>.uk-container .uk-navbar-right{
  margin-top: 10px;
}

.uk-navbar-item, .uk-navbar-nav>li>a, .uk-navbar-toggle, li.uk-active>a{
  font-family: $base-font-family;
  color: white;
}

.uk-navbar-nav > li:hover > a, .uk-navbar-nav > li > a.uk-open, .uk-navbar-nav > li > a:focus {
    color: $green-1;
}

.logo-navbar-home{
  position: relative;
  top: 10px;
  svg{
    display: none;
  }
}

.logo-navbar-page{
  position: relative;
  top: 10px;
}

.logo-navbar-page-white{
  svg{
    display: block;
  }
}
.logo-navbar-page-color{
  svg{
    display: none;
  }
}

.uk-navbar-container:not(.uk-navbar-transparent) {
  background: $black;
  a{
    color: $white;
  }
  .uk-navbar-nav>li>a{
    color: $white;
    text-transform: none;
    &:hover, &:focus,{
      color: $green-1;
      text-decoration: none;
    }
  }
  .uk-navbar-dropdown-nav > li > a {
    color: $black !important;
    &:hover, &:focus,{
      color: $green-1 !important;
      text-decoration: none;
    }
  }
  svg{
    display: block;
  }
  .logo-navbar-page-white{
    svg{
      display: none;
    }
  }
  .logo-navbar-page-color{
    svg{
      display: block;
    }
  }
}

.uk-offcanvas-bar{
  background: $dark;
}

.uk-offcanvas-bar a:hover{
  color: $green-1;
  text-decoration: none;
}

#welcome-page {
 padding: 60px 0 0;
 .uk-height-viewport{
   min-height: 55vh;
 }
}
