.btn-light {
  font-family: Mulish;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: transparent;
  padding: 1em 1.5em;
  border-radius: 10px;
}