.uk-button-default {
    font-size: 1.4rem;
    font-family: 'anton',inherit sans-serif;
    letter-spacing: 0.06rem;
    border-radius: 6px;
    padding: 0.8rem 1.6rem;
    font-weight: 400;
    background: transparent;
}

.uk-button-primary {
    font-size: 0.8rem;
    font-family: 'anton',inherit sans-serif;
    letter-spacing: 0.06rem;
    border-radius: 6px;
    padding: 0.01rem 0.6rem;
    font-weight: 400;
    background: transparent;
}

.btn-dark {
  border: 3px solid $dark !important;
  color: $dark !important;
  &:hover, &:focus {
    background: $dark !important;
    color: $white !important;
    border-color: $dark !important;
  }
}

.btn-light {
  border: 3px solid $white !important;
  color: $white !important;
  &:hover, &:focus {
    background: $white !important;
    color: $dark !important;
    border-color: $white !important;
  }
}

.btn-light-green-2 {
  border: 3px solid $white !important;
  color: $white !important;
  &:hover, &:focus {
    background: $white !important;
    color: $green-2 !important;
    border-color: $white !important;
  }
}

.btn-light-blue {
  border: 3px solid $white !important;
  color: $white !important;
  &:hover, &:focus {
    background: $white !important;
    color: $blue !important;
    border-color: $white !important;
  }
}

.btn-blue {
  border: 3px solid $blue !important;
  background-color: $blue;
  color: $white;
  &:hover, &:focus {
    background-color: transparent;
    color: $blue;
  }
}

.link-light {
  text-decoration: underline;
  &:hover, &:focus {
    color: $gray-1;
  }
}


.link-white{
  color: $white;
  &:hover, &:focus {
    text-decoration: none;
    color: $green-1;
  }
}

.btn-to-top {
  text-align: right;
  border-radius: 50%;
  background-color: $green-1;
  color: white;
  padding: 1em;
  width: 1em;
  height: 1em;
  line-height: .7em;
}
