<section class="uk-section">
  <div class="uk-container uk-container-small">
    <h2 class="uk-text-center uk-margin-large-bottom">{% t coalition_section.title %}</h2>
    <div class="uk-grid-large uk-child-width-1-4@s uk-text-center" uk-grid>
      {% for coalition in site.data.organizations.items %}
        <a href="{{coalition.website}}" target="_blank">
          <img data-src="{{site.baseurl_root}}{{coalition.logo}}"
            alt="{{coalition.name}}" uk-img>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
