<div class="uk-grid-small uk-child-width-auto uk-visible@s" uk-grid uk-countdown="date: 2021-04-30T17:16:52+00:00">
    <div class="countdown-container uk-text-center">
        <div class="uk-countdown-label uk-margin-small uk-text-center">{%t countdown.days%}</div>
        <div class="uk-countdown-number uk-countdown-days"></div>
    </div>
    <div class="countdown-container uk-text-center">
        <div class="uk-countdown-label uk-margin-small uk-text-center">{%t countdown.hours%}</div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
    </div>
    <div class="countdown-container uk-text-center">
        <div class="uk-countdown-label uk-margin-small uk-text-center">{%t countdown.minutes%}</div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
    </div>
    <div class="countdown-container uk-text-center">
        <div class="uk-countdown-label uk-margin-small uk-text-center">{%t countdown.seconds%}</div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
    </div>
</div>

<div class="uk-grid-small uk-child-width-auto uk-hidden@s uk-flex uk-flex-center" uk-grid uk-countdown="date: 2021-04-30T17:16:52+00:00">
    <div class="countdown-container-small uk-text-center">
        <div class="uk-countdown-label uk-text-center">{%t countdown.days%}</div>
        <div class="uk-countdown-number uk-countdown-number-small uk-countdown-days"></div>
    </div>
    <div class="countdown-container-small uk-text-center">
        <div class="uk-countdown-label uk-text-center">{%t countdown.hours%}</div>
        <div class="uk-countdown-number uk-countdown-number-small uk-countdown-hours"></div>
    </div>
    <div class="countdown-container-small uk-text-center">
        <div class="uk-countdown-label uk-text-center">{%t countdown.minutes%}</div>
        <div class="uk-countdown-number uk-countdown-number-small uk-countdown-minutes"></div>
    </div>
    <div class="countdown-container-small uk-text-center">
        <div class="uk-countdown-label uk-text-center">{%t countdown.seconds%}</div>
        <div class="uk-countdown-number uk-countdown-number-small uk-countdown-seconds"></div>
    </div>
</div>
