{% assign active_events = site.events | where: "active", "true" %}
{% if active_events.size > 0 %}

    <div class="animated fadeIn uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100; repeat: false">
        <div class="bg-green-2 uk-section uk-light">
            <div class="uk-container uk-width-3-4">
            {% assign title_content = "title_" | append: site.lang %}
            <h2>{%t events.title%}</h2>
            <p class="font-large">{{ active_events.first[title_content] }}</p>
            <a href="{{active_events.first.url}}" class="uk-button uk-button-default btn-light">{% t buttons.join_event %}</a>
            </div>
        </div>
    </div>
{% endif %}
