<div id="hero" class="uk-visible@m">
  <div class="uk-height-viewport uk-flex uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" data-src="{{site.baseurl_root}}/assets/images/headers/mark_home_web.jpg" uk-img>
    <div class="uk-position-center-left uk-padding-large" uk-grid>
      <div class="uk-container uk-width-2-3@m">
        <img class="animated fadeIn delay-2s fast" src="{{site.baseurl_root}}/assets/images/header-logo.png" height="109" alt="Stop Facebook, Save Whatsapp">
        <p class="font-medium animated fadeIn delay-2s fast" style="color: white !important; font-size: 1rem;"> {% t header_home.subtitle %} </p>
        {%- include countdown.html -%}
      </div>
    </div>
  </div>
</div>

<div id="hero" class="uk-hidden@m">
  <div class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" data-src="{{site.baseurl_root}}/assets/images/headers/mark_home_web.jpg" uk-img>
    <div class="uk-container uk-text-center uk-width-2-3@m">
      <div>
        <img class="animated fadeIn delay-2s fast" src="{{site.baseurl_root}}/assets/images/header-logo.png" height="109" alt="Stop Facebook, Save Whatsapp">
        <p class="font-medium animated fadeIn delay-2s fast" style="color: white !important; font-size: 1rem;"> {% t header_home.subtitle %} </p>
        {%- include countdown.html -%}
      </div>
    </div>
  </div>
</div>
