<section class="uk-section">
  <div class="uk-container">
    <div class="uk-grid-medium uk-child-width-1-2@m" uk-grid>
      <div>
        <h2>{%t video_section.title%}</h2>
        <p>{%t video_section.description%}</p>
        <a href="#" target="_blank" class="uk-button uk-button-default btn-light">{% t buttons.learn_more %}</a>
      </div>
      <div>
        <video src="https://yootheme.com/site/images/media/yootheme-pro.mp4" controls 
          preload="auto" poster="{{site.baseurl_root}}/assets/images/video_poster.png"></video>
      </div>
    </div>
  </div>
</section>