<section class="uk-section bg-gray-2">
  <div class="uk-container uk-flex uk-flex-center uk-text-center animated fadeIn delay-3s fast">
    <div class="uk-width-3-4@m uk-flex uk-flex-center" uk-grid>
      <div>
        <video src="{{site.baseurl_root}}/assets/videos/Stop_FB_Save_WA_Cut_06_EN.mp4" controls
          preload="auto" poster="{{site.baseurl_root}}/assets/videos/thumbnail.png" style="margin: -3rem 0 6rem;"></video>
      </div>
    </div>
  </div>
  <div class="uk-text-center" uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 100; repeat: false">
    <div class="uk-container uk-width-2-3@m uk-text-center">
        <h2 class="uk-text-center">{%t video_section.title%}</h2>
        <p class="font-large space-after">{% t video_section.description %}</p>
        <a href="{{site.baseurl}}/campaign" class="uk-button uk-button-default btn-dark uk-text-center">{% t buttons.learn_more %}</a>
    </div>
  </div>
</section>