<div id="welcome-page" class="uk-visible@m">
  <div class="uk-height-viewport uk-flex uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" 
    data-src="{{site.baseurl_root}}/assets/images/headers/{{include.image_name}}" uk-img>
    <div class="uk-position-center">
      <div class="uk-text-center">
          <h4 class="white uk-padding-remove"> {{ include.subtitle }} </h4 class="white uk-padding-remove">
          <h1 class="white uk-width-large uk-margin-remove"> {{ include.title }} </h1>
        </div>
      </div>
  </div>
</div>

<div id="welcome-page" class="uk-hidden@m">
  <div class="uk-height-viewport uk-flex uk-flex-center uk-inline uk-flex-middle uk-background-cover uk-light animated fadeIn delay-1s fast" 
    data-src="{{site.baseurl_root}}/assets/images/headers/{{include.image_name_mobile}}" uk-img>
    <div class="uk-position-center">
      <div class="uk-text-center">
          <h4 class="white uk-padding-remove"> {{ include.subtitle }} </h4 class="white uk-padding-remove">
          <h1 class="white uk-width-large uk-margin-remove"> {{ include.title }} </h1>
        </div>
      </div>
  </div>
</div>
