@charset "utf-8";

$base-font-family: 'Mulish', sans-serif !default;
$title-font-family: 'Anton', sans-serif !default;
$base-font-size:   0.9rem !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.9 !default;

$spacing-unit:     30px !default;

// Project colors

$text-color:           #101E22 !default;
$background-color:     white !default;
$black:                #101E22 !default;


$green-1: #25D366;
$green-2: #00BFA5;
$green-3: #128C7E;
$blue: #1778F2;
$dark: #101E22;
$gray-1: #E4E4E4;
$gray-2: #FAF9F8;
$white: #FFF;

.green-1 {
  color: $green-1;
}
.green-2 {
  color: $green-2;
}
.green-3 {
  color: $green-3;
}
.blue {
  color: $blue;
}
.dark {
  color: $dark;
}
.gray-1 {
  color: $gray-1;
}
.gray-2 {
  color: $gray-2;
}
.white{
  color: $white;
}

.bg-green-1 {
  background-color: $green-1;
}
.bg-green-2 {
  background-color: $green-2;
  p, h2, h3, h4, h5{
    color: $white !important;
  }
}
.bg-green-3 {
  background-color: $green-3;
  p, h2, h3, h4, h5{
    color: $white !important;
  }
}
.bg-blue {
  background-color: $blue;
}
.bg-dark {
  background-color: $dark;
  p, h2, h3, h4, h5{
    color: $white !important;
  }
}
.bg-gray-1 {
  background-color: $gray-1;
}
.bg-gray-2 {
  background-color: $gray-2;
}

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "basic/base",
  "basic/layout",
  "basic/buttons"
;
