---
layout: default
---

<div class="uk-inline">

  <div class="home">

    {% assign active_events = site.data.events.items | where: "active", "true" %}
    {% if active_events.size > 0 %}
      {%- include event_banner.html -%}
    {% endif %}

    {%- include header_home.html -%}

    {%- include hero.html -%}

    {%- include video_section.html -%}

    {%- include problems_section.html -%}

    {%- include take_action.html -%}

    {%- include organizations_section.html -%}

    {%- include coalition_section.html -%}

  </div>


  <div class="uk-position-top-right uk-text-right uk-position-fixed social-media uk-visible@s" style="width: 7rem">
    <div class="uk-child-width-1-1 uk-padding-remove uk-margin-remove" uk-grid>
      <div>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsavewhatsapp.org%2F&amp;src=sdkpreparse"><img src="{{site.baseurl_root}}/assets/images/share/share_facebook.png" width="50px" style="margin-bottom: -36px;" alt="Share Facebook"></a>
      </div>
      <div>
        <a href="whatsapp://send?text=https://savewhatsapp.org"><img src="{{site.baseurl_root}}/assets/images/share/share_wsp.png" width="50px" style="margin-bottom: -34px;" alt="Share Whatsapp"></a>
      </div>
      <div>
        <!-- https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview -->
        <a target="_blank" href="https://twitter.com/intent/tweet?url=savewhatsapp.org" data-size="large"><img src="{{site.baseurl_root}}/assets/images/share/share_twitter.png" width="50px" alt="Share Twitter"></a>
      </div>
    </div>
  </div>
</div>
