---
layout: default
---

<div class="page">

  {% assign title_lang = "title_" | append: site.lang %}
  {% assign title = page[title_lang] %}
  {% assign subtitle_lang = "subtitle_" | append: site.lang %}
  {% assign subtitle = page[subtitle_lang] %}

  {%- include header.html logo=true -%}

  {%- include welcome_page.html title=title image_name_mobile=page.image_name_mobile image_name=page.image_name subtitle=subtitle -%}

  <div class="uk-container uk-width-3-4@m uk-padding animated fadeIn delay-1s fast font-medium">
    {{ content }}
  </div>

</div>
